<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <mirrors>
        <mirror>
            <id>aliyunmaven</id>
            <mirrorOf>*</mirrorOf>
            <name>阿里云公共仓库</name>
            <url>https://maven.aliyun.com/repository/public</url>
        </mirror>
    </mirrors>
    <!--    <proxies>-->
    <!--        <proxy>-->
    <!--            <id>optional</id>-->
    <!--            <active>true</active>-->
    <!--            <protocol>http</protocol>-->
    <!--            <host>192.168.2.101</host>-->
    <!--            <port>7890</port>-->
    <!--        </proxy>-->
    <!--    </proxies>-->
</settings>